# Assignment 1

**Deadline**:  11/09/2019, 9.59am

**Names and student numbers:**
1. Dante van der Heijden (11020075)
2. Jorrim Prins (11038934)
3. Vien Dinh (11002115)

**Declaration of Originality**

We whose names are given under 1., 2. and 3. above declare that:
1. These solutions are solely our own work.
2. We have not made (part of) these solutions available to any other student.

## Instructions for completing and submitting the assignment
Please pay attention to the following instructions:
1. Please follow carefully the steps outlined in the assignment. If you cannot solve an exercise and this hinders continuing with subsequent exercises, try to find a way to work around it and give a clear explanation for the solution you have chosen.
2. Submit your work in the form of a Jupyter notebook via Canvas, before the deadline. Your notebook should not give errors when executed with `Run All`.
4. You are allowed to work on the assignment in groups of 2 or 3 students and to submit together. Before you submit, you and your team members have to register as an **Assignment group** on Canvas. Only a single member of each group has to submit the notebook. Please do **NOT** submit the same notebook multiple times!
5. Please write your names also inside this markdown cell, under **Names and student numbers**.

## Part 0: importing the relevant libraries

**Exercise 1:** import all the libraries you are using in this notebook.

In [2]:
import numpy as np
import pandas as pd

## Part 1: using the Python Standard Library

**Exercise 2:** write a function called `sort_words`. The function should have a single argument, which is always a string of words separated by spaces. For example, `sample` in the cell below is such a string. The function should return another string containing the same words separated by spaces, but now the words must be ordered alphabetically by their first letter.

In [3]:
sample = "coding what? fun are exercises or"
def sort_words(string):
    string_split = string.split()
    string_split.sort()
    return " ".join(string_split)
sort_words(sample)

'are coding exercises fun or what?'

**Exercise 3:** below you find three cells. In the first cell three NumPy objects (`v`, `u` and `A`) are defined, depending on an integer parameter `n`. In the second cell, these objects are used to compute a quantity that you might know from your linear algebra course. In this exercise, you have to perform two tasks:
* in the third cell, compute the quantity of the second cell again, but now without the use of any (for) loops. Print the result to verify that your code indeed computes the same quantity.
* use Python's `time` module to measure the time the computations in the second and third cell take, separately. Notice that if you increase `n` (to for example 2000), the relative difference in computational efficiency grows rapidly.

[NB: When your run a vectorized computation for the first time, Python loads some additional libraries in the background. This takes additional time. Therefore, you have to run the vectorized computation (at least) twice to get a good estimate of the computational time.]

In [4]:
import time

n = 100
v = np.random.normal(size=n)
u = np.random.normal(size=n)
A = np.random.normal(size=(n,n))
time.process_time()

1.9162749999999997

In [7]:
start = time.time()
result = 0

for i in range(len(v)):
    for j in range(len(u)):
        result += v[i]*A[i,j]*u[j]
        
print(result)
end = time.time()
print(end - start)

-78.54616835889931
0.010471105575561523

In [8]:
start = time.time()
print(np.dot(np.dot(v,A),u))
time.process_time()

end = time.time()

print(end - start)

-78.54616835889868
0.002950906753540039

## Part 2: wrangling and analyzing Twitter sentiment data
This part of the assignment is about wrangling and analyzing Twitter sentiment data for six airline companies:

|**Name Airline**|**@username**|
|:-------|:-------------|
|American Airlines       |@AmericanAir           |
|JetBlue Airways        |@JetBlue              |
|Southwest Airlines       |@SouthwestAir           |
|United Airlines        |@united              |
|US Airways        |@USAirways              |
|Virgin America       |@VirginAmerica             |

The dataset `airline_twitter_sentiment.csv` consists of more than 14.000 tweets sent on 9 consecutive days in February 2015, all addressing one (or more) of the aforementioned airlines via the @username syntax. The text of the tweets can be found in the `text` column of the dataset. Furthermore, a machine learning algorithm has analyzed the content of the tweets and categorized the sentiment as positive, neutral or negative. This can be found in the `airline_sentiment` column. The machine learning algorithm also estimates the probability that it identified the correct sentiment, which is given in the `airline_sentiment:confidence` column. Another relevant column is called `tweet_created`, giving the time and day at which the tweet was sent.

(Note: US Airways was integreted into American Airlines in October 2015. Since our dataset is from February 2015, we will consider them as separate airlines.)

**Exercise 4:** import the dataset `airline_twitter_sentiment.csv` and turn it into a DataFrame called `df`. Print the total number of tweets in the dataset.

In [9]:
df = pd.read_csv('airline_twitter_sentiment.csv')
print(df.shape[0])

14694

**Exercise 5:** print the first 10 rows of the DataFrame `df`.

In [10]:
df.head(10)

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,airline_sentiment,airline_sentiment:confidence,negativereason,negativereason:confidence,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_id,tweet_location,user_timezone
0,681448223,False,finalized,3,2/25/15 1:57,negative,1.0000,Customer Service Issue,1.0000,NaN,Cuschoolie1,NaN,0,"@VirginAmerica help, left expensive headphones...","[33.94209449, -118.40410103]",2/23/15 21:10,5.700880e+17,Washington DC,Quito
1,681452067,False,finalized,3,2/25/15 0:41,negative,1.0000,Flight Booking Problems,0.6939,NaN,MERBARAT,NaN,0,@united very exasperating I'm having a difficu...,"[41.86591215, -87.6231126]",2/20/15 21:36,5.690080e+17,"Chicago, IL",Central Time (US & Canada)
2,681451479,False,finalized,3,2/25/15 4:43,neutral,1.0000,NaN,NaN,NaN,CoachMcRoberts,NaN,0,@united Can you help me get a flight out tonig...,NaN,2/21/15 16:58,5.693000e+17,"Oxford, MS",NaN
3,681456798,False,finalized,3,2/25/15 3:27,negative,1.0000,Flight Booking Problems,1.0000,NaN,4starcashier,NaN,0,"@SouthwestAir 4/9/14, I need to fly from GSP t...",NaN,2/17/15 12:37,5.677850e+17,"Des Moines, Iowa",Central Time (US & Canada)
4,681461929,False,finalized,3,2/25/15 3:50,negative,1.0000,Damaged Luggage,0.6663,NaN,WTFloris,NaN,0,"@USAirways Oh yes, because I had loads of time...",NaN,2/21/15 1:54,5.690730e+17,Raxacoricofallapatorius,Amsterdam
5,681453541,False,finalized,3,2/25/15 9:04,neutral,1.0000,NaN,NaN,NaN,lorenzosimpson,NaN,0,@united i now see it's 72 hours. Thanks,NaN,2/18/15 17:50,5.682260e+17,NaN,Eastern Time (US & Canada)
6,681457766,False,finalized,3,2/25/15 7:40,positive,1.0000,NaN,NaN,NaN,WeChiefMusic,NaN,0,@JetBlue ok thanks. Safety first.,NaN,2/22/15 19:57,5.697080e+17,Planet Brooklyn,Atlantic Time (Canada)
7,681455921,False,finalized,3,2/25/15 0:59,neutral,1.0000,NaN,NaN,NaN,stefughknee,NaN,0,@SouthwestAir when can I start Flight Booking ...,NaN,2/19/15 13:12,5.685180e+17,NaN,NaN
8,681452831,False,finalized,3,2/25/15 2:38,neutral,0.6709,NaN,0.0000,NaN,jnay777,NaN,0,@united LGJW7B. I voluntarily rerouted; 1st le...,NaN,2/19/15 18:06,5.685930e+17,NaN,NaN
9,681454491,False,finalized,3,2/25/15 2:03,negative,1.0000,Customer Service Issue,0.6804,NaN,amymiller305,NaN,0,"@SouthwestAir customer service at FLL, BWI,and...",NaN,2/24/15 4:29,5.701990e+17,South Florida,NaN

**Exercise 6:** create a list of the names of the columns of the DataFrame `df`.

In [11]:
list(df)

['_unit_id',
 '_golden',
 '_unit_state',
 '_trusted_judgments',
 '_last_judgment_at',
 'airline_sentiment',
 'airline_sentiment:confidence',
 'negativereason',
 'negativereason:confidence',
 'airline_sentiment_gold',
 'name',
 'negativereason_gold',
 'retweet_count',
 'text',
 'tweet_coord',
 'tweet_created',
 'tweet_id',
 'tweet_location',
 'user_timezone']

**Exercise 7:** during the creation of the dataset some lines/rows were duplicated. Remove them from `df`, such that the DataFrame `df` does not contain any duplicates anymore. Count the total number of duplicates and print this number in a nice sentence that explains the meaning of the number.

In [12]:
rows_df = df.shape[0]
df.drop_duplicates(inplace=True)
rows_df_new = df.shape[0]
print('All duplicate rows of the dataset have been deleted. This was a total of', rows_df - rows_df_new, 'rows.')

All duplicate rows of the dataset have been deleted. This was a total of 54 rows.

**Exercise 8:** the machine learning algorithm is not always able to extract a sentiment from the tweet. This is reflected in a missing `airline_sentiment` value. Remove the lines with a missing airline sentiment from the `df`. As in the previous exercise, report the number of discarded values.

In [13]:
rows_df = df.shape[0]
df = df[df['airline_sentiment'].notna()]
rows_df_new = df.shape[0]
print('All tweets with unknown sentiment have been deleted. This was a total of', rows_df - rows_df_new, 'tweets.')

All tweets with unknown sentiment have been deleted. This was a total of 36 tweets.

**Exercise 9:** the column `airline_sentiment:confidence` represents the probability that the machine learning algorithm predicted the correct sentiment. Remove the lines from `df` with an airline-sentiment confidence below 0.50. Report the number of discarded tweets.

In [14]:
rows_df = df.shape[0]
df = df[df['airline_sentiment:confidence'] >= 0.5]
rows_df_new = df.shape[0]
print('All tweets with low-confidence sentiment have been deleted. This was a total of', rows_df - rows_df_new, 'tweets.')

All tweets with low-confidence sentiment have been deleted. This was a total of 235 tweets.

**Exercise 10:** the columns `text` contains the text of the tweets. Remove the lines from `df` with tweets containing less than 50 characters. Report the number of discarded tweets.

In [15]:
rows_df = df.shape[0]
df = df[df['text'].str.len() >= 50]
rows_df_new = df.shape[0]
print('All tweets with less than 50 characters have been deleted. This was a total of', rows_df - rows_df_new, 'tweets.')

All tweets with less than 50 characters have been deleted. This was a total of 1534 tweets.

**Exercise 11:** print a frequency table for the total number of positive, neutral and negative tweets in the DataFrame `df`.

In [16]:
df['airline_sentiment'].value_counts()

negative    8650
neutral     2419
positive    1766
Name: airline_sentiment, dtype: int64

**Exercise 12:** sort the rows in the DataFrame by the time the tweet was created (use the `tweet_created` column). The tweet that was created first, should be on top of the DataFrame. Then, reset the index of the DataFrame, such that the first row has index 0, the second row has index 1, etcetera. Make sure that the old index does **not** become an additional column in the DataFrame. Finally, print the last 10 rows of the resulting DataFrame `df`.

In [17]:
df.sort_values('tweet_created',inplace=True)
df.reset_index(drop=True, inplace=True)
df.tail(10)

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,airline_sentiment,airline_sentiment:confidence,negativereason,negativereason:confidence,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_id,tweet_location,user_timezone
12825,681677275,False,finalized,3,2/25/15 19:16,negative,1.0000,Can't Tell,0.6590,NaN,jacquelinewins6,NaN,0,@AmericanAir \nIt's not what happens to us tha...,NaN,2/24/15 9:56,5.702810e+17,NaN,NaN
12826,681463330,False,finalized,3,2/25/15 6:54,negative,1.0000,Customer Service Issue,0.6701,NaN,chone1984,NaN,0,@AmericanAir pretty lame response to a two pag...,NaN,2/24/15 9:57,5.702810e+17,NaN,Eastern Time (US & Canada)
12827,681677274,False,finalized,3,2/25/15 18:56,negative,1.0000,Customer Service Issue,1.0000,NaN,chone1984,NaN,0,@AmericanAir pretty lame response to a two pag...,NaN,2/24/15 9:57,5.702810e+17,NaN,Eastern Time (US & Canada)
12828,681677273,False,finalized,3,2/25/15 19:39,negative,1.0000,Customer Service Issue,1.0000,NaN,robkoenigld,NaN,0,@AmericanAir why am I continually getting put ...,NaN,2/24/15 9:58,5.702820e+17,"indialantic, fl",Eastern Time (US & Canada)
12829,681463328,False,finalized,3,2/25/15 1:51,negative,1.0000,Customer Service Issue,1.0000,NaN,robkoenigld,NaN,0,@AmericanAir why am I continually getting put ...,NaN,2/24/15 9:58,5.702820e+17,"indialantic, fl",Eastern Time (US & Canada)
12830,681454365,False,finalized,3,2/25/15 8:55,neutral,0.6655,NaN,0.0000,NaN,srsable7290,NaN,0,@SouthwestAir what is the status of the bag ch...,NaN,2/24/15 9:58,5.702820e+17,NaN,Eastern Time (US & Canada)
12831,681677272,False,finalized,3,2/25/15 18:49,negative,1.0000,Can't Tell,1.0000,NaN,EMesaLaw,NaN,0,@AmericanAir don't worry you won't steal my mo...,NaN,2/24/15 9:59,5.702820e+17,Greater New England Area,Quito
12832,681463324,False,finalized,3,2/25/15 3:32,negative,1.0000,Lost Luggage,0.6612,NaN,MrsPang725,NaN,0,"@AmericanAir lost my cats, missed their flight...",NaN,2/24/15 9:59,5.702820e+17,City by the Bay,Eastern Time (US & Canada)
12833,681677271,False,finalized,3,2/25/15 19:13,negative,1.0000,Lost Luggage,0.6471,NaN,MrsPang725,NaN,0,"@AmericanAir lost my cats, missed their flight...",NaN,2/24/15 9:59,5.702820e+17,City by the Bay,Eastern Time (US & Canada)
12834,681463326,False,finalized,3,2/25/15 9:27,negative,0.6712,Can't Tell,0.3356,NaN,EMesaLaw,NaN,0,@AmericanAir don't worry you won't steal my mo...,NaN,2/24/15 9:59,5.702820e+17,Greater New England Area,Quito

**Exercise 13:** show that the elements of the column `tweet_created` are of string (`str`) type. [Hint: it is enough if you show this for only one element of the column, for example by using `.at[...]` to access the values of a DataFrame.]

In [18]:
type(df['tweet_created'][0])

str

**Exercise 14:** as can be seen in the column `tweet_created`, all tweets in our dataset were sent on 9 consecutive days in February 2015. Add a new column called `day` to the DataFrame `df`. The elements of this column should represent the day on which the tweet was created (e.g. `19` for a tweet created on 19 February 2015).

In [19]:
days = df['tweet_created'].str.split('/').apply(pd.Series)[1]
df['days'] = days

**Exercise 15:** print a frequency table for the total number of tweets per day. Sort the table by day, starting with the earliest day.

In [20]:
df['days'].value_counts().sort_index()

16       4
17    1231
18    1165
19    1184
20    1298
21    1373
22    2744
23    2661
24    1175
Name: days, dtype: int64